* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Body styles */
body {
  font-family: "Roboto", sans-serif;
  background-color: #f0f0f0;
  color: #333333;
  line-height: 1.6;
  text-align: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Make sure the body takes up at least the full height of the viewport */
}

html{
  scroll-behavior: smooth;
}
